html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form,select,fieldset,textarea,input,
blockquote, th, td, img {
margin: 0;
padding: 0;
}

body {
	background-color: #f1f1f1;
}

a {
	text-decoration: none;
}

ul {
	list-style-type:none;
}

select {
	-webkit-appearance: none;
	font-size: 14px;
	color: #333;
	border: 1px solid #d8d8d8;
	height: 36px;
	width: 190px;
	background-color: white;
}

.header,.header img {
	height: 201px;
	width: 810px;
}

.header {
	margin: 0 auto 78px auto;
}

.wrapper {
	position: relative;
	background-color: #fff;
	width: 810px;
	margin: 0 auto;
	padding: 0 70px;
	border: 1px solid #d8d8d8;
}

.nav {
	list-style-type: none;
	margin-top: -25px;
	height: 50px;
}

.nav li {
	float: left;
}

.nav a {
	display: inline-block;
	width: 71px;
	height: 47px;
}

.menu {
	margin-right: 21px;
}

.nav .add_more {
	margin-left: 463px;
}

/*clear float*/
.nav:after {
	content: ".";
	height: 0px;
	visibility: hidden;
	clear: both;
}

.nav .star a:link {
	background: url('images/star.png')  no-repeat top;
}

.nav .calendar a:link {
	background: url('images/calendar.png') no-repeat top;
}

.nav .category a:link {
	background: url('images/category.png') no-repeat top;
}

.nav .add_more a:link {
	background: url('images/add_more.png') no-repeat top;
}

.nav .menu a:hover, .nav .menu a:focus,.nav .menu a:active,.nav .selected/*the selected tab*/ {
	background-position: 100% 100%;
}

.nav .add_more a:hover,.nav .add_more a:focus,.nav .add_more a:active {
	background-position: 100% 100%;
}

.wrapper .title {
	margin: 20px 0 20px 5px;
	color: #e4b683;
	font: 30px arial,sans-serif;
}

/*table begins here*/
#data_table {
	margin-bottom: 10px;
}

#data_table .table_main div.expenses {
	width: 810px;
	height: 62px;
	border: 1px solid #d8d8d8; 
	border-top:none;
}

#data_table .table_main div.expenses:hover {
	background-color: whitesmoke;
}

#data_table .table_main div.expense_1 {
	border-top: 1px solid #d8d8d8;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0; 
}

#data_table span,#data_table .table_main a {
	display: inline-block;
	width: 128px;
}

#data_table .table_header span {
	color: #378c92;
	font: normal 20px Arial, Helvetica, sans-serif;
}

#data_table .category {
	text-indent: -5px;
}

#data_table .table_main span {
	color: #5d6162;
	font: normal 18px/34px Arial, Helvetica, sans-serif;
	height: 34px;
	margin:14px 0;
}

#data_table span.date {
	margin-left: 135px;
}

#data_table .table_main .col_1,#data_table .table_header .col_1,#data_table .table_main .col_7  {
	display:none;
}

#data_table .table_main div.single {
	position: relative;
}

#data_table .table_main .tag {
	position: absolute;
	top: 6px;
	left:-5px;
	height: 51px;
	width: 80px;
}

#data_table .table_main .clothes .tag{
	background: url('images/clothes.png') no-repeat;
}

#data_table .table_main .food .tag{
	background: url('images/food.png') no-repeat;
}

#data_table .single .unstar, #data_table .single .star {
	height:34px;
	width:34px;
	margin: 7px 70px 0 23px;
} 

#data_table .table_main .edit_dropdown {
	height: 15px;
	width: 15px;
	margin: 0 24px 1px 15px;
	background: url('images/edit.png') no-repeat;
}

#data_table .table_main a.daytotal {
	background: url('images/dropdown.png') no-repeat;
}

.table_main .unstar {
	background: url('images/table_unstar.png') no-repeat;
}

.table_main .star {
	background: url('images/table_star.png') no-repeat;
}

#data_table .table_main a:hover, #data_table .table_main a:focus,#data_table .table_main a:active {
	background-position: 100% 97%;
}

#data_table .table_main .non-single .day_detail {
	display: none;
}
/*table ends here*/

/*create more*/
.create_more {
	width: 810px;
	height: 62px;
	border: 1px solid #d8d8d8; 
	-webkit-border-radius: 4px 4px;
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px 4px;
	margin-bottom: 8px;
	text-align: center;
	position: relative;
}

.create_more a span {
	display: block;
	height: 62px;
	width: 798px;
	color: #d8d8d8;
	padding-right: 12px;
	font: normal 20px/60px Arial, Helvetica, sans-serif;
	background: url('images/createmore.png') no-repeat 49% 86%;
}

.create_more a:hover span,.create_more a:focus span {
	background-color: whitesmoke;
}

/*submit form*/
.close{
	display: inline-block;
	position: absolute;
	right: 8px;
	top: 8px;
	color: #BBB;
	font: 16px simsun,Helvetica,sans-serif;
	padding: 3px 4px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}

.close:hover {
	background-color: #378C92;
	color: white;
}

form {
	top:100px;
	position: absolute;
	background-color: white;
	width: 810px;
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 10px 0 20px 0;
	font: normal 14px Arial, Helvetica, sans-serif;
	color: #333;
	display:none;
	z-index: 1100;
}

.overlay {
	position: absolute;
	top: 0;
	width: 1265px;
	height: 955px;
	display: none;
	background-color: #333;
	opacity: 0;
	z-index: 1000;
}

fieldset {
	border: none;
}

.conten {
	width: 690px;
	margin: 40px 60px;
}

.form_el {
	margin-bottom: 30px;
}

.conten .date label,
.conten .transformSelectWrapper label,
.conten .expenses label,
.conten .expense-details label,
.conten .cash_in_out span {
	color: #bbb;
	font-size: 20px;
	float: left;
	text-align: right;
	display: inline-block;
	width: 107px;
	margin: 7px 40px 0 0;
}

.conten .cash_in_out span {
	margin-top: 0;
}

.conten .op_pick_date {
	position: relative;
	margin-left: 147px;
	width: 192px;
	height: 38px;
}

.conten .op_pick_date:after {
	content: "";
	height: 0;
	display: none;
	clear: both;
}

.conten .calendar_icon {
	position: absolute;
	background: #eee url('images/calendar_icon.png') no-repeat 50% 50%;
}

.transformSelectWrapper {
	position: relative;
}

.transformSelectWrapper ul {
	display: none;
	overflow: hidden;
	position: absolute;
	left: 147px;
	top: 39px;
	border: 1px  solid #d8d8d8;
	border-bottom: 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.transformSelectWrapper ul a {
	color: #333;	
	display: inline-block;
	background-color: white;
	width: 155px;
	height: 36px;
	text-indent: 6px;
}

.transformSelectWrapper ul .first a {
	margin-top:5px;
}

.transformSelectWrapper ul .last a {
	margin-bottom:5px;
}

.transformSelectWrapper ul a:hover {
	background: #3582C4;
	color: white;
}

.transformSelectWrapper ul li {
	line-height: 36px;
	border-bottom: 1px solid #d8d8d8;
}
.transformSelectWrapper .selected {
	background-color: #ededed;
}
.basicAppear {
	position: relative;
	width: 192px;
	height: 38px;
	margin-left: 147px;
}

.basicAppear span {
	display: inline-block;
	line-height: 36px;
	text-indent: 6px;
	cursor: pointer;
}

.basicAppear a {
	position: absolute;
	top: 0;
	right: 0;
	background: #EEE url('images/form_select.png') no-repeat 50% 50%;
}

.conten .expenses {
	height: 36px;
}

.conten .expenses input {
	text-indent: 6px;
}

.conten .expenses input, .conten .op_pick_date input, .basicAppear span {
	height: 36px;
	width: 155px;
	border: 1px solid #d8d8d8;
	border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
}

.conten .op_pick_date input {
	padding: 0 0 0 6px;
	width: 149px; 
}

.conten .expenses span,form .conten .expenses input {
	float: left;
}

.conten .expenses span, .conten .submit button {
	font-size: 17px;
	color: #333;
}

.conten .expenses span,.conten .calendar_icon, .basicAppear a {
	text-align: center;
	display: inline-block;
	border-radius: 0 4px 4px 0;
	border: 1px solid #d8d8d8;
	border-left: 0;
	height:36px;
	width: 34px;
	line-height: 40px;
	background-color: #eee;
}

.conten .expenses:after {
	content: "";
	height: 0;
	display: none;
	clear: both;
}

.conten .expense-details textarea, .form_el input {
	font-size: 14px;
}
.conten .submit a {
	
	color: #333;
}

.conten .submit a:hover {
	text-decoration: underline;
}

.conten .expense-details label {
	float: left;
}

.conten .btn-submit {
	height: 36px;
	width: 110px;
	margin-left: 147px;
	border: 1px solid #d8d8d8;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; 
	background-color: whitesmoke;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	background-image: -o-linear-gradient(top, white, #E6E6E6);
	background-image: linear-gradient(to bottom, white, #E6E6E6);
	background-image: -moz-linear-gradient(top, white, #E6E6E6);
	background-repeat: repeat-x;
}

.conten .btn-submit:hover {
	color: #333;
	text-decoration: none;
	background-color: #E6E6E6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.footer {
	margin-top:100px;
	height: 117px;
	text-align: center;
	color: #bbb;
	font: 9px arial,sans-serif;
	background: url('images/bottom_line.png') no-repeat top; 
}

.footer p {
	padding-top: 88px;
}